*{
    text-align: center;
    
}
.introduction{
    font-family: cursive, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    font-weight: bolder;
}
.Our_Services{
    font-family: cursive, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
}
p{
    font-family: cursive, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
}
table,
td {
    border: 1px solid #333;
    align-items: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.body{
    background-color: aliceblue;
}

